
	body {
		/*
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		*/
		font-family: Helvetica, serif;
		font-size: 12px;
		
		background-color: rgb(237, 237, 237);
		line-height: 1.5em;
		text-align: left;
		margin: 0px;
	}



	#cabecalho {
		background-color: white;

		padding:10px;
/*
		padding-top: 15px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 3px;
*/
		position: fixed;
		z-index: 10;
		width: 100%;
	}

	h1 {
		margin: 0px;
		padding: 0px;
		line-height: 1em;
	}

	#subtitulo{
		margin: 0px;
		padding: 0px;

		color: gray;
		padding-left: 0px;
		
	}



	h3 {
		color: black;
	}

	p {
		color: black;
		font-size: 14px;
		text-align: justify;
	}



	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: 220px;
		height: 100%;
		position: fixed;
		overflow: auto;

		font-size: 1.3em;
		text-align:  left;
		float: left;
		padding-top: 62px;
		padding-bottom: 20px;
		background-color: rgb(53, 53, 53);
	}

	li a {
		display: block;
		padding: 10px;
		background-color: rgb(53, 53, 53);

		padding: yellow;

	}


	.menu-titulos{
		color: rgb(186, 186, 186);
		font-weight: bold;
		padding: 0.5em;
	}

	.menu-topicos{
		color: white;
		padding: 0.5em;
	}

	#saida-titulo{

		overflow: auto;

		margin: 0px;
		margin-left: 210px;
		padding: 40px;
		padding-top: 90px;
		padding-bottom: 15px;
		text-align: center;
		color: inherit;
	}

	#saida-texto{

		overflow: auto;

		margin: 0px;
		margin-left: 210px;

		padding-top: 1px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 50px;
	}

	a {
		text-decoration: none;
		color: rgb(20, 59, 122);
	}

	h1 a {
		text-decoration: none;
		color: rgb(86, 140, 226);
	}

	li a:hover, li a:focus{
		color: white;
		background-color: black;
	}

	li a:active{
		background-color: rgb(85, 124, 186);
	}

	.active:hover, .active:focus{
		color: white;
		background-color: rgb(85, 124, 186);
	}

	.active {
		background-color: rgb(35, 89, 175);
  		color: white;
	}



	#footer{
		margin: 0px;
		clear: both;


		position: fixed;
		bottom: 0px;
		width: 100%;

		background-color: white;
		padding: 10px;
		text-align: left
	}



