body {
	margin: 0;
	text-align: center;
	font-family: 'VT323', monospace;
	color: #e0e0e0;
	font-size: 1.5em;
}

.geral {
	background: radial-gradient(rgb(41, 41, 41), black);
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
}

.tela {
	width: 50%;
	height: 50%;
	margin: auto;
	margin-top: 5%;
}

h1::before{
	color: #57c5e7;
	content:"[ ";
}

h1::after{
	color: #57c5e7;
	content:" ]";
}

a {
	color: #57c5e7;
}

a:hover {
	color: #7b7de6;
	transition: 0.5s all ;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	border-top: 2px solid rgb(41, 41, 41);
	padding: 10px 0;
}
