* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'VT323', monospace;
	color: rgba(255,255,255,.7);
	text-align: center;
	height: 100vh;
	background: linear-gradient(#302b63, #0f0c29);
}
h1, h2, h3 {
	padding: 0;
	margin: 0;
	text-align: center;
}
h3 {
	text-align: left;
}
h1::before{
	color: #79fb75;
	content:"[ ";
}
h1::after{
	color: #79fb75;
	content:" ]";
}
.conteudo {
	display: flex;
	width: 100vw;
	height: 100vh;
}
.ilustracao {
	background: url("./assets/espaco.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
}
.informacao {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
hr {
	width: 100%;
	color: rgba(123, 125, 230, 0.4)
}
li {
	list-style-type: none;
	size: 1.5rem;
}
a {
	color: #79fb75;
	text-decoration: none;
}
a:hover {
	color: #f784d9;
	transition: 0.5s all;
}

@media screen and (min-width: 0) {
	.conteudo {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.ilustracao {
		width: 100%;
		height: 1vh;
	}
	.informacao { 
		width: auto;
		height: auto;
		margin-right: 1rem;
		margin-left: 1rem;
		align-items: flex-start;
		padding: 1.5rem 1.5rem;
	}
	li {
		text-align: left;
	}
	li::before {
		color: #888be2;
		font-weight: bold;
		content: "> ";
	}
	.ilustracao {
		order: -1;
		height: 50%;
		background: url("./assets/espaco.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}

@media screen and (min-width: 460px) {
	.informacao {
		margin-right: 2rem;
		margin-left: auto;
		align-items: flex-end;
	}
}

@media screen and (min-width: 960px) {
	.conteudo {
		flex-direction: row;
		align-items: center;
		height: 100vh;
	}
	.ilustracao {
		order: 2;

		height: 100%;
		width: 50%;
		background: url("./assets/espaco.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left;
	}
	li {
		text-align: right;
	}
	li::before {
		content: none;
	}
	li::after {
		color: #888be2;
		font-weight: bold;
		content: " <";
	}
	li a:hover {
		padding-right: 20px;
	}
	.informacao {
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}
}